* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 38em) {
    font-size: 20px;
  }
  @media (min-width: 58em) {
    font-size: 20px;
  }
  @media (min-width: 48em) {
    font-size: 16px;
  }
  @media(min-height: 30em) {
    font-size: 16px
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;

  strong {
    color: inherit;
  }

  /* `:focus` is linked to `:hover` for basic accessibility */
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
  overflow-wrap: anywhere;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;

  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 10px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

details summary { 
  cursor: pointer;
  user-select: none;

  &:focus { 
    outline: none;
  }
}

.message {
  font-size: 80%;
  margin-bottom: 1rem;
  padding: .6rem;
  color: #717171;
  background-color: #f9f9f9;
}

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

.page,
.post {
  margin-bottom: 4em;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.75);
  background-color: #141422;

  /* Sidebar links */
  a {
    color: #fff;
  }

  @media (min-width: 48em) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }

  @media (min-width: 48em) {
    > .container {
      right: 1rem;
      bottom: 1rem;
      left: 1rem;
    }

    footer {
      position: absolute;
    }
  }
}

header {
  /* Title */
  > h1 {
    color: #fff;
    margin-top: 0;
    font-family: "Abril Fatface", serif;
    font-size: 3.25rem;
  }

  > img {
    display: initial;
  }
}

nav {
  margin-top: 10%;
  user-select: none;

  > ul {
    list-style-type: none;
    padding: 0;

    > li {
      &::before {
        content: '';
        display: inline-block;
        width: 1em;
      }

      &.other-page:hover::before {
        content: '\27AA';
        color: #268bd2;
      }
    }
  }
}

.content {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: 48em) {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }

  @media (min-width: 64em) {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}
